Lê Thanh Phương Nam_ITITWe19025

# I.	Introductory Exercises
> ##  
1. 	Run the following code, observe the displayed result

In [1]:
def add (x,y):
	return x+y
 
def inc(f,x):
	return f(x,1)
    
print("Result: ",inc(add,2))

print("Le Thanh Phuong Nam ITITWE19025")

Result:  3
Le Thanh Phuong Nam ITITWE19025

#  
> ##  
2. 	 	Rewrite `inc(f,x)` using lambda calculus.

In [2]:
def inc(f,x):
    return (lambda x,y : x+y) (x,1)

print("Le Thanh Phuong Nam ITITWE19025")

Le Thanh Phuong Nam ITITWE19025

#  
> ##  
3. 	 	Develop the following functions using the similar manner.
*   a) `add10(x)`
*   b) `dec(f,x)`

In [3]:
def add10(x):
    return x+10

def dec(f,x):
    return (lambda x,y: x-y) (x,1)

print("Le Thanh Phuong Nam ITITWE19025")

Le Thanh Phuong Nam ITITWE19025

#  
> ##  
4. 	 	Run the following code, observe the displayed result.

In [4]:
def create_adder(x):
  def adder(y):
    return x + y
  return adder
  
add_15 = create_adder(15)
   
print("Result: ",add_15(10))

print("Le Thanh Phuong Nam ITITWE19025")

Result:  25
Le Thanh Phuong Nam ITITWE19025

#  
> ##  
5. 	 	Rewrite `create_adder` using lambda

In [5]:
def create_adder2(y):
    return lambda x : x + y

add_151 = create_adder2(15)
print("Result:", add_151(10))
print("Le Thanh Phuong Nam ITITWE19025")

Result: 25
Le Thanh Phuong Nam ITITWE19025

#  
> ##  
6. 	 	
*   a) Develop `create_lifter(x)` to return `x^y`
*   b) Use `create_lifter` to develop `area(n)`, which returns the area of a square whose side length is `n`.

In [8]:
#a)
print("6a)")
def create_lifter(y):
    return lambda x : x**y
lifter2 = create_lifter(2)
print("Result x^y: ", lifter2(10))
lifter4 = create_lifter(4)
#b)
print("6b)")
def shapeArea(n):
    if n>=lifter4(10) or n<1:
        return False
    return (lifter2(n)+lifter2(n-1))
print("Result area: " ,shapeArea(10))

print("Le Thanh Phuong Nam ITITWE19025")

6a)
Result x^y:  100
6b)
Result area:  181
Le Thanh Phuong Nam ITITWE19025

#  
> ## Using map
7. 	Run the following code

In [9]:
def f(x):
	return x+1
 
l = list(map(f,[2,3,4]))   
print(l)

print("Le Thanh Phuong Nam ITITWE19025")

[3, 4, 5]
Le Thanh Phuong Nam ITITWE19025

#  
> ##  
8. 	 	Rewrite Question 7 using lambda expression

In [10]:
def f1(l):
    return list(map(lambda x: x + 1 , l))

print("Result: ",f1([2,3,4]))

print("Le Thanh Phuong Nam ITITWE19025")

Result:  [3, 4, 5]
Le Thanh Phuong Nam ITITWE19025

#  
> ##  
9. 	 	Use map and lambda to convert a list of numbers into the squared list.

In [11]:
def f2(l):
    return list(map(lambda x: x*x , l))

print("Result: ",f2([2,3,4]))

print("Le Thanh Phuong Nam ITITWE19025")

Result:  [4, 9, 16]
Le Thanh Phuong Nam ITITWE19025

# II.	Additional Exercises
> ##  
1. 	Use map and lambda to create a list of booleans reflecting whether each element in a given list `lst` is positive or not.

In [12]:
def positiveor(l):
    return list(map(lambda x: "False" if x<=0 else "True", l))

print("Result: " ,positiveor([-2,0,4]))

print("Le Thanh Phuong Nam ITITWE19025")

Result:  ['False', 'False', 'True']
Le Thanh Phuong Nam ITITWE19025

#  
> ##  
2. 	 	Given a list of positive integers `lst` and a number `n`, please use map and lambda to create a matrix with shape `(len(lst) x n)` whose each row `i-th` has the `lst[i]-th` element equal 1 and otherwise equal 0.

In [13]:
filterArray = lambda lst, n : list(map(lambda a:[1 if i < len(a) else 0 for i in range(len(lst))],[[ 1 for _ in range(lst[i])] for i, _ in enumerate(range(n))]))

print("Result: ",filterArray([2, 6, 3,  9, 8], 5))

print("Le Thanh Phuong Nam ITITWE19025")

Result:  [[1, 1, 0, 0, 0], [1, 1, 1, 1, 1], [1, 1, 1, 0, 0], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1]]
Le Thanh Phuong Nam ITITWE19025

#  
> ##  
3. 	 	Use map and lambda to calculate the sum of a given list and its reverse one by each element. Ex. [1,2,3] → [4,4,4], [2,6,3,9] → [11, 9, 9, 11]

In [14]:
sumreverse = lambda arr : list(map(lambda i: i, [x + y for x , y in zip(arr, list(reversed(arr)))]))
print("Result: ",sumreverse([1,2,3]))

print("Le Thanh Phuong Nam ITITWE19025")

Result:  [4, 4, 4]
Le Thanh Phuong Nam ITITWE19025